<mat-toolbar color="primary">
  <a 
  routerLink="/" 
  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>ExamPortal</span>
  <span class="example-spacer"></span>
  <a 
  *ngIf="!isLoggedIn"
  [routerLink]="'/login'" mat-flat-button color="primary">
    Login
  </a>
  <a 
  *ngIf="!isLoggedIn"

  [routerLink]="'/signup'" mat-flat-button color="primary">
    Register
  </a>
  <a 
  *ngIf="isLoggedIn"
(click)="logout()"
 mat-flat-button color="primary">
    Logout
  </a>


  <a 
  *ngIf="isLoggedIn && user"
  routerLink="/admin/profile"
 mat-flat-button color="primary">
  {{user.username }}
  </a>
 
</mat-toolbar>